

:root{
--color_white:white;
--color-black:black;
--color-red:red;
--color-grey:#909090;
--color-background:#F9F9F9;
--padding:12px;
--padding-right:8px;

--fontsize-small:12px;
--fontsize-middle: 18px;
--fontsize-big:24px;


}


body{
    font-family: 'Roboto';
    background-color:var(--color-background);
}
.menu
{
    display:flex;
}
header .actionBar .logo .fa-youtube{
    color:var(--color-red);
    cursor:pointer;
}
header .actionBar{
    display:flex;
    justify-content: space-between;
    color:var(--color_white);
    background-color: var(--color-black);
    padding:var(--padding);
}
header .header_Icons
{
  text-align:right;
}
header .header_Icons .fa-search,
.fa-ellipsis-v
{
    cursor: pointer;
}
button{
    cursor:pointer;  
}
#btn_subscribe
{
  
background-color: transparent;
  border-style: none;
}

.middleBar .videoInfo{
    display:flex;
   flex-direction: column;
    align-items:column;
}
.middleBar .videoInfo .videoTitle
{
    font-size: var(--fontsize-big);
}

.menus button .fa-thumbs-up, 
.menus button .fa-thumbs-down,
.menus button .fa-share, 
.menus button .fa-plus,
.menus button .fa-font-awesome-flag{
    
    width:20px;
   height:20px;
   padding-right:var(--padding-right);
}
.menus button{
    color: var(--color-grey);
    border-style:none;
    background-color: transparent;
    padding: var(--padding);
    
}
.videoSection{
    position:sticky;
    top:0;
}
.videoSection video{
   
    width:100%;
    height:100%;
    max-width:2100px;
}
.middleBar .videoInfo .videoTitle
{
padding-bottom:var(--padding);
}